
<div class="wrapper">
  <div class="container">
    <h1>Questions#ask</h1>
    <p>Ask your coach anything</p>
    <!-- Find me in app/views/questions/ask.html.erb -->
    <form action="/answer">
      <input type="text" name="question" placeholder="Name">
      <input type="submit" value="Ask!">
    </form>
  </div>
</div>



